html {
    overflow: hidden;
    font-family: "Fira Mono", monospace;
    line-height: 1.15em;
}

body {
    --text-main: #d8d8d8;
    --text-sec: #ff9933;
    --text-tet: #1a1a1a;
    --bg-main: #1a1a1a;
    --bg-sec: #ff9933;
    --bg-tet: #2a2a2a;
    --shadow-main: #101010;
    --shadow-sec: #181818;
    --shadow-tet: #00000050;
    --n: 500;
    background-color: var(--bg-main);
    color: var(--text-main);
}

b {
    color: white;
}

span {
    filter: drop-shadow(2px 1px 1px black);
}

h1 {
    color: var(--text-sec);
    font-family: "Rubik Mono One";
    text-wrap: wrap;
    line-height: 1em;
    margin-bottom: 0;
}

.bg {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: var(--text-tet);
}

#bg1 {
    position: absolute;
    top: -3000px;
    right: 40vw;
    width: 2500px;
    height: 5000px;
    pointer-events: none;
    z-index: -1;
    transform: rotate(10deg);
    fill: var(--bg-sec);
    filter: drop-shadow(1em 0.5em 1em var(--shadow-sec));
}

#bbg1 {
    position: absolute;
    top: -2930px;
    right: 40vw;
    width: 2350px;
    height: 5000px;
    pointer-events: none;
    z-index: -2;
    transform: rotate(10deg);
    fill: var(--bg-tet);
    filter: drop-shadow(1em 0.5em 1em var(--shadow-main));
}

#bg2 {
    position: absolute;
    top: -1500px;
    right: -1300px;
    width: 2465px;
    height: 5000px;
    pointer-events: none;
    z-index: -1;
    transform: rotate(8deg);
    fill: var(--bg-sec);
    filter: drop-shadow(-1em -0.5em 1em var(--shadow-sec));
}

#bbg2 {
    position: absolute;
    top: -1480px;
    right: -1400px;
    width: 2650px;
    height: 5000px;
    pointer-events: none;
    z-index: -2;
    transform: rotate(8deg);
    fill: var(--bg-tet);
    filter: drop-shadow(-1em -0.5em 1em var(--shadow-main));
}

.wide {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        line-height: 0.5em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    p {
        line-height: 0.9em;
        margin-top: 0.5em;
        margin-bottom: 0.8em;
        width: 5cm;
    }
}

.subtitle {
    background-color: var(--bg-tet);
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding-left: 0.5em;
    padding-top: -0.5em;
    padding-bottom: -1em;
    box-shadow: 0.5em 0.5em 0.5em var(--shadow-main);
}

.right {
    text-align: right;
    width: 5cm;
}

.full-width {
    width: 22cm;
    margin: auto;
}

#content {
    position: relative;
    top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#flex-box {
    display: flex;
    flex-direction: column;
    & > div {
        width: 10.5cm;
    }
}

#contact-info {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2em;

    color: var(--text-tet);

    & > h1 {
        color: var(--text-tet);
        width: 28vw;
    }
}

#skills {
    color: var(--text-tet);
    position: absolute;
    top: 300px;
    right: -50px;
    width: 480px;
    padding: 1em;

    & > .title > h1 {
        color: var(--text-tet);
    }
}

.skill-list {
    display: flex;
    justify-content: space-between;

    & > div {
        width: 45%;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: -10px;

        li {
            margin-bottom: 0.7em;
            font-weight: 1000;
        }
    }
}

.line {
    width: 100%;
    height: 0;
    border-top: 1px solid var(--text-main);
}

.title {
    display: flex;
    align-items: center;
    & > div {
        padding-right: 0.5em;
        font-size: 1.5em;
    }
}

.small {
    margin-left: -1.5em;

    & > div {
        font-size: 1em !important;
    }
}

#work-experience {
    ul {
        margin-top: -0.5em;
        li {
            padding-bottom: 0.5em;
        }
    }
}

.typewriter {
    color:#0000;
    background:
      linear-gradient(-90deg,#ff9933 5px,#0000 0) 10px 0,
      linear-gradient(#d8d8d8 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation: 
      b .7s infinite steps(1),   
      t calc(var(--n)*.01s) steps(var(--n)) forwards;
}

.typewriter-dark {
    color:#0000;
    background:
      linear-gradient(-90deg,#1a1a1a 5px,#0000 0) 10px 0,
      linear-gradient(#1a1a1a 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    filter: drop-shadow(4px 2px 1px var(--shadow-tet));
    animation: 
      b .7s infinite steps(1),   
      t calc(var(--n)*.1s) steps(var(--n)) forwards;
}

.typewriter-contact {
    color:#0000;
    background:
      linear-gradient(-90deg,#1a1a1a 5px,#0000 0) 10px 0,
      linear-gradient(#1a1a1a 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    filter: drop-shadow(4px 2px 1px var(--shadow-tet));
    animation: 
      b .7s infinite steps(1),   
      t calc(var(--n)*.03s) steps(var(--n)) forwards;


    a {
        color:#0000;
        text-decoration: none;
    }
}

.typewriter-title {
    color:#0000;
    background:
      linear-gradient(-90deg,#ff9933 5px,#0000 0) 10px 0,
      linear-gradient(#ff9933 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    filter: drop-shadow(0.2em 0.2em 0 var(--shadow-main));
    animation: 
      b .7s infinite steps(1),   
      t calc(var(--n)*.1s) steps(var(--n)) forwards;
}

@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}
