{{ block "index" . }}
<!DOCTYPE html>
<html lang="se">
    <head>
        <title>Martin Rimbro Åstrand Resume</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Rubik+Mono+One&display=swap" rel="stylesheet">
    </head>
    <body>
        {{ template "resume" . }}
    </body>
</html>
{{ end }}

{{ block "resume" . }}
<div class="full-width">
    <div class="bg">
        <svg viewBox="0 0 480 480" id="bg1"><path d="M360 120 240 0 120 120v240l120 120 120-120V120z"></path></svg>
        <svg viewBox="0 0 480 480" id="bbg1"><path d="M360 120 240 0 120 120v240l120 120 120-120V120z"></path></svg>
        <svg viewBox="0 0 480 480" id="bg2"><path d="M360 120 240 0 120 120v240l120 120 120-120V120z"></path></svg>
        <svg viewBox="0 0 480 480" id="bbg2"><path d="M360 120 240 0 120 120v240l120 120 120-120V120z"></path></svg>
    </div>
    <div>
        {{ template "contact-info" . }}
    </div>
    <div>
        {{ template "skills" . }}
    </div>
    <div id="content">
        <div id="flex-box">
            <div>
                {{ template "summary" . }}
            </div>
            <p class="line" />
            <div>
                {{ template "education" . }}
            </div>
            <p class="line" />
            <div>
                {{ template "projects" . }}
            </div>
        </div>
        <div id="flex-box">
            <div>
                {{ template "work-experience" . }}
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ block "contact-info" . }}
<div id="contact-info">
    <h1><span class="typewriter-dark">Martin Rimbro Åstrand</span></h1>
    <br />
    <span class="typewriter-dark"><div class="fas fa-globe"></div> Malmö, SE</span>
    <br />
    <span class="typewriter-dark"><div class="fas fa-envelope"></div> martin.rimbro@gmail.com</span>
    <br />
    <span class="typewriter-dark"><div class="fas fa-phone"></div> (+46)702 83 69 74</span>
</div>
{{ end }}

{{ block "summary" . }}
<div id="summary">
    <div class="title">
        <div class="fas fa-user"></div>
        <h1><span class="typewriter-title">Summary</span></h1>
    </div>
    <span class="typewriter">
        A motivated <b>full-stack</b> software engineer with <b>3+ years of experience</b> working in fintech.
        </br>
        </br>
    </span>
    <span class="typewriter">
        I've had my hands in everything from the <b>CI/CD</b> workflow using <b>github</b> actions and <b>Argo</b>, to database migrations and queries in <b>postgreSQL</b>, to REST API implementations in <b>Django</b>, to client facing frontend work with <b>React</b> and <b>Typescript</b>.
        </br>
        </br>
    </span>
    <span class="typewriter">
        The projects I worked on as a part of the "Core team" paved the way for us to become <b>number one</b> in our field.
        </br>
        </br>
    </span>
</div>
{{ end }}

{{ block "education" . }}
<div id="education">
    <div class="title">
        <div class="fas fa-graduation-cap"></div>
        <h1><span class="typewriter-title">Education</span></h1>
    </div>
    <div class="wide">
        <div class="subtitle">
            <h3>Newton</h3>
            <p>A.S in CS - Systems Development</p>
        </div>
        <div class="right">
            <i>
                <p>Malmö, SE</p>
                <p>2020 -  2022</p>
            </i>
        </div>
    </div>
</div>
{{ end }}

{{ block "work-experience" . }}
<div id="work-experience">
    <div class="title">
        <div class="fas fa-briefcase"></div>
        <h1><span class="typewriter-title">Work Experience</span></h1>
    </div>
    <div class="wide">
        <div class="subtitle">
            <h3>Hulo Consulting</h3>
            <p>SE-II (Contractor at an american fintech company)</p>
        </div>
        <div class="right">
            <i>
                <p>Remote</p>
                <p>June 2022 - Present</p>
            </i>
        </div>
    </div>
    <ul>
        <li>
            <span class="typewriter">
                Modernizing the client application by updating components from an older framework to <b>React</b>, along with adding new <b>API</b>'s with validation in the backend.
            </span>
        </li>
        <li>
            <span class="typewriter">
                <b>Leading</b> risk initiative projects, involving a lot of stakeholders. Several of which I had other engineers working under me. This included special deals for partners, creating and <b>leading pilots</b> for loan programs that would make us more competative.
            </span>
        </li>
        <li>
            <span class="typewriter">
                Optimizing <b>CI/CD</b> times by deconstructing all of the steps involved in order to find pain-points where we could get a <b>big impact</b> with a <b>low amount of effort</b>.
            </span>
        </li>
        <li>
            <span class="typewriter">
                Implementing <b>E2E testing framework</b> across the entire application, using <b>Playwright</b> to create both <b>smoke</b>, and <b>acceptance</b> tests that became requirements for any PR to become eligible for merge.
            </span>
        </li>
    </ul>
    <div class="wide">
        <div class="subtitle">
            <h3>Sharlic</h3>
            <p>SE-II</p>
        </div>
        <div class="right">
            <i>
                <p>Malmö, SE</p>
                <p>2022 - 2024</p>
            </i>
        </div>
    </div>
    <ul>
        <li>
            <span class="typewriter">
                Implementing the Client application from the ground up. Setting up rules for linting and code standards, and deciding on the structure for component creation.
            </span>
        </li>
        <li>
            <span class="typewriter">
                <b>Lead Frontend Engineer</b>, where I decided on what packages we should use, and was available as a point of contact for all of the junior Devs when it came to client side engineering.
            </span>
        </li>
    </ul>
</div>
{{ end }}

{{ block "skills" . }}
<div id="skills">
    <div class="title">
        <div class="fas fa-flask-vial"></div>
        <h1><span class="typewriter-dark">Skills</span></h1>
    </div>
    <div class="skill-list">
        <div>
            <div class="title small">
                <div class="fas fa-circle-info"></div>
                <h3>Programming Languages</h3>
            </div>
            <ul>
                <li>
                    <span class="typewriter-dark">
                        Typescript
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        Python
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        Java
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        Go
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        Javascipt
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        C#
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        Bash
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        HTML
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        CSS
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        Cucumber
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        Yaml
                    </span>
                </li>
            </ul>
            <div class="title small">
                <div class="fas fa-circle-info"></div>
                <h3>Tools</h3>
            </div>
            <ul>
                <li>
                    <span class="typewriter-dark">
                        Vim
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        SSH
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        VSCode
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        ZSH
                    </span>
                </li>
            </ul>
        </div>
        <div>
            <div class="title small">
                <div class="fas fa-circle-info"></div>
                <h3>Frameworks</h3>
            </div>
            <ul>
                <li>
                    <span class="typewriter-dark">
                        React
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        Django
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        Vue
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        Svelte
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        Spring Boot
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        ASP.net
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        Django Rest<br />Framework
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        Playwright
                    </span>
                </li>
            </ul>
            <div class="title small">
                <div class="fas fa-circle-info"></div>
                <h3>Technologies</h3>
            </div>
            <ul>
                <li>
                    <span class="typewriter-dark">
                        Git
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        Docker
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        K3S (Kubernetes)
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        Argo
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        Linux
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        Jira
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        Confluence
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        Styled Components
                    </span>
                </li>
            </ul>
            <div class="title small">
                <div class="fas fa-circle-info"></div>
                <h3>Spoken Languages</h3>
            </div>
            <ul>
                <li>
                    <span class="typewriter-dark">
                        Swedish
                    </span>
                </li>
                <li>
                    <span class="typewriter-dark">
                        English
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
{{ end }}

{{ block "projects" . }}
<div id="projects">
    <div class="title">
        <div class="fas fa-screwdriver-wrench"></div>
        <h1><span class="typewriter-title">Projects</span></h1>
    </div>
    <span>Homelab Linux, K3S, docker, Grafana, Prometheus, Argo, Cloudflare</span>
    <span class="typewriter">
        In my fascination with <b>hardware, networking, and infrastructure</b>, I've set up a local server cluster running a number of apps in <b>Kubernetes</b> all using remote storage hosted on a Debian server with ZFS and NFS.
    </span>
    <span class="typewriter">
        Having a local environment where I can learn about <b>infrastructure</b> and <b>hosting</b>, and experiment has given me a lot of experience setting up <b>HA (High Availability)</b> and efficient applications.
    </span>
</div>
{{ end }}
